@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Urbanist:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:ital,wght@0,100..700;1,100..700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');


@font-face {
  font-family: "Just Another Hand", cursive;
  src: url(../src/assets/Fonts/JustAnotherHand-Regular.ttf);
  font-family: "Barlow Condensed", sans-serif;
  src: url(../src/assets/Fonts/BarlowCondensed-Regular.ttf);
}

@import "tailwindcss";

@theme {
  --font-Just-Another-Hand: "Just Another Hand", cursive;
  --font-Barlow: "Barlow Condensed", sans-serif;
  --font-Outfit: "Outfit", sans-serif;
  --font-Urbanist: "Urbanist", sans-serif;
  --font-IBM-plex-sans: "IBM Plex Sans", sans-serif;
  --font-Poppins: "Poppins", sans-serif;

}